@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

.search {
    display: flex;
    align-items: center;
    margin: 20px;
    background-color: rgb(229, 229, 229);
    border-radius: 10px;
}

.search input[type="text"] {
    width: 250px;
    height: 30px;
    margin: 10px;
    padding-left: 10px;
    font-size: 14px;
    border: 2px solid rgb(229, 229, 229);
    border-radius: 10px;
    outline: none;
}

.search input[type="text"]:focus {
    border: 2px solid black;
}

.search button {
    width: 30px;
    height: 30px;
    background-color: rgb(190, 188, 188);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.search button:active {
    background-color: dimgray;
}